@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$primary-bg: #11476b;
$button-color: #F19700; 
$button-hover-color: #f7ce89; 
$text-color: #453F51;
$accent-text-color: #FFF;
$nav-text-color: #FCFCFC;
$main-font: 'Lato', sans-serif;
$card-bg: #e9e9e9;
$card-hover-bg: #dbdbdb;